!===================================================
! Standard Baseline Configuration for {{ inventory_hostname }}
!===================================================
hostname {{ inventory_hostname }}
!
router ospf
  router-id {{ loopback_ip.split('/')[0] }}
  network {{ ospf_network }} area 0 
