!===================================================
! Standard Baseline Configuration for {{ inventory_hostname }}
!===================================================
hostname {{ inventory_hostname }}
!
router ospf
  router-id {{ ansible_host }}
  network {{ ospf_network }} area 0 
